<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 这里的映射有好几种方式，我用顺手的是这个 -->
    <bean id="urlMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <props>
                <!-- 把具体请求映射到具体controller的id -->
                <!--<prop key="index.do">testAction</prop>-->

                <!-- 测试是否进入filter的 -->
                <prop key="search">testAction</prop>
                <prop key="user/alert">userManagerAction</prop>
                <prop key="function/addcomment">projectFunctionAction</prop>
            </props>
        </property>
    </bean>

    <!-- controller要实现controller的handleRequest方法 -->
    <!--<bean id="demo_index" class="com.mengyou.action.TestAction"/>-->

    <!-- filter的id是在web.xml中配置的那个 -->
    <bean id="loginValidateFilter" class="com.mengyou.filter.LoginValidateFilter"/>

</beans>