<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mengyou.zhumengyou.dao.CrowdFoundProductMapper">

    <resultMap id="crowdFoundProductResultMap" type="com.mengyou.zhumengyou.model.db.CrowdFoundProduct">
        <id column="id" property="id"/>
        <result column="user_id" property="userId" />
        <result column="vc2nickname" property="vc2nickname" />
        <result column="time_start" property="timeStart" />
        <result column="time_end" property="timeEnd" />
        <result column="period" property="period" />
        <result column="money_total" property="moneyTotal" />
        <result column="money_receive" property="moneyReceive" />
        <result column="operator_id" property="operatorId" />
        <result column="operate_time" property="operateTime" />
        <result column="found_status" property="foundStatus" />
        <result column="status" property="status" />
        <result column="describe" property="describe" />
        <result column="location1" property="location1" />
        <result column="location2" property="location2" />
        <result column="product_type" property="productType" />
        <result column="product_name" property="productName" />
        <result column="icon_path" property="iconPath" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="order_num" property="orderNum" />
    </resultMap>
    <insert id="save" parameterType="com.mengyou.zhumengyou.model.db.CrowdFoundProduct" useGeneratedKeys="true" keyProperty="id">
        insert into `crowd_found_product`(
        <trim suffixOverrides=",">
            <if test="userId != null">`user_id`,</if>
            <if test="vc2nickname != null">`vc2nickname`,</if>
            <if test="timeStart != null">`time_start`,</if>
            <if test="timeEnd != null">`time_end`,</if>
            <if test="period != null">`period`,</if>
            <if test="moneyTotal != null">`money_total`,</if>
            <if test="moneyReceive != null">`money_receive`,</if>
            <if test="operatorId != null">`operator_id`,</if>
            <if test="operateTime != null">`operate_time`,</if>
            <if test="foundStatus != null">`found_status`,</if>
            <if test="status != null">`status`,</if>
            <if test="describe != null">`describe`,</if>
            <if test="location1 != null">`location1`,</if>
            <if test="location2 != null">`location2`,</if>
            <if test="productType != null">`product_type`,</if>
            <if test="productName != null">`product_name`,</if>
            <if test="iconPath != null">`icon_path`,</if>
            <if test="createTime != null">`create_time`,</if>
            <if test="updateTime != null">`update_time`,</if>
            <if test="orderNum != null">`order_num`,</if>
        </trim>
        )values(
        <trim suffixOverrides=",">
            <if test="userId != null"> #{userId},</if>
            <if test="vc2nickname != null"> #{vc2nickname},</if>
            <if test="timeStart != null"> #{timeStart},</if>
            <if test="timeEnd != null"> #{timeEnd},</if>
            <if test="period != null"> #{period},</if>
            <if test="moneyTotal != null"> #{moneyTotal},</if>
            <if test="moneyReceive != null"> #{moneyReceive},</if>
            <if test="operatorId != null"> #{operatorId},</if>
            <if test="operateTime != null"> #{operateTime},</if>
            <if test="foundStatus != null"> #{foundStatus},</if>
            <if test="status != null"> #{status},</if>
            <if test="describe != null"> #{describe},</if>
            <if test="location1 != null"> #{location1},</if>
            <if test="location2 != null"> #{location2},</if>
            <if test="productType != null"> #{productType},</if>
            <if test="productName != null"> #{productName},</if>
            <if test="iconPath != null"> #{iconPath},</if>
            <if test="createTime != null"> #{createTime},</if>
            <if test="updateTime != null"> #{updateTime},</if>
            <if test="orderNum != null"> #{orderNum},</if>
        </trim>
        )
    </insert>
    <update id="update" parameterType="com.mengyou.zhumengyou.model.db.CrowdFoundProduct">
        update `crowd_found_product`
        <trim prefix="set" suffixOverrides=",">
            <if test="userId != null">`user_id` = #{userId},</if>
            <if test="vc2nickname != null">`vc2nickname` = #{vc2nickname},</if>
            <if test="timeStart != null">`time_start` = #{timeStart},</if>
            <if test="timeEnd != null">`time_end` = #{timeEnd},</if>
            <if test="period != null">`period` = #{period},</if>
            <if test="moneyTotal != null">`money_total` = #{moneyTotal},</if>
            <if test="moneyReceive != null">`money_receive` = #{moneyReceive},</if>
            <if test="operatorId != null">`operator_id` = #{operatorId},</if>
            <if test="operateTime != null">`operate_time` = #{operateTime},</if>
            <if test="foundStatus != null">`found_status` = #{foundStatus},</if>
            <if test="status != null">`status` = #{status},</if>
            <if test="describe != null">`describe` = #{describe},</if>
            <if test="location1 != null">`location1` = #{location1},</if>
            <if test="location2 != null">`location2` = #{location2},</if>
            <if test="productType != null">`product_type` = #{productType},</if>
            <if test="productName != null">`product_name` = #{productName},</if>
            <if test="iconPath != null">`icon_path` = #{iconPath},</if>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="updateTime != null">`update_time` = #{updateTime},</if>
            <if test="orderNum != null">`order_num` = #{orderNum},</if>
        </trim>
        where `id` = #{id}
    </update>
    <select id="getBy" parameterType="com.mengyou.zhumengyou.model.db.CrowdFoundProduct" resultMap="crowdFoundProductResultMap">
        select * from `crowd_found_product`
        <trim prefix="where" prefixOverrides="AND|OR">
            <if test="id != null">AND `id` = #{id} </if>
            <if test="userId != null">AND `user_id` = #{userId} </if>
            <if test="vc2nickname != null">AND `vc2nickname` = #{vc2nickname} </if>
            <if test="timeStart != null">AND `time_start` = #{timeStart} </if>
            <if test="timeEnd != null">AND `time_end` = #{timeEnd} </if>
            <if test="period != null">AND `period` = #{period} </if>
            <if test="moneyTotal != null">AND `money_total` = #{moneyTotal} </if>
            <if test="moneyReceive != null">AND `money_receive` = #{moneyReceive} </if>
            <if test="operatorId != null">AND `operator_id` = #{operatorId} </if>
            <if test="operateTime != null">AND `operate_time` = #{operateTime} </if>
            <if test="foundStatus != null">AND `found_status` = #{foundStatus} </if>
            <if test="status != null">AND `status` = #{status} </if>
            <if test="describe != null">AND `describe` = #{describe} </if>
            <if test="location1 != null">AND `location1` = #{location1} </if>
            <if test="location2 != null">AND `location2` = #{location2} </if>
            <if test="productType != null">AND `product_type` = #{productType} </if>
            <if test="productName != null">AND `product_name` = #{productName} </if>
            <if test="iconPath != null">AND `icon_path` = #{iconPath} </if>
            <if test="createTime != null">AND `create_time` = #{createTime} </if>
            <if test="updateTime != null">AND `update_time` = #{updateTime} </if>
            <if test="orderNum != null">AND `order_num` = #{orderNum} </if>
        </trim>
    </select>

    <select id="getById" parameterType="java.lang.Long"
            resultType="com.mengyou.zhumengyou.model.db.CrowdFoundProduct">
        select * from `crowd_found_product` where `id` = #{id}

    </select>

</mapper>