<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mengyou.zhumengyou.dao.ProductCommentMapper">

    <resultMap id="productCommentResultMap" type="com.mengyou.zhumengyou.model.db.ProductComment">
        <id column="id" property="id"/>
        <result column="product_id" property="productId" />
        <result column="user_id" property="userId" />
        <result column="vc2nickname" property="vc2nickname" />
        <result column="content" property="content" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>
    <insert id="save" parameterType="com.mengyou.zhumengyou.model.db.ProductComment" useGeneratedKeys="true" keyProperty="id">
        insert into `product_comment`(
        <trim suffixOverrides=",">
            <if test="productId != null">`product_id`,</if>
            <if test="userId != null">`user_id`,</if>
            <if test="vc2nickname != null">`vc2nickname`,</if>
            <if test="content != null">`content`,</if>
            <if test="createTime != null">`create_time`,</if>
            <if test="updateTime != null">`update_time`,</if></trim>
        )values(
        <trim suffixOverrides=",">
            <if test="productId != null"> #{productId},</if>
            <if test="userId != null"> #{userId},</if>
            <if test="vc2nickname != null"> #{vc2nickname},</if>
            <if test="content != null"> #{content},</if>
            <if test="createTime != null"> #{createTime},</if>
            <if test="updateTime != null"> #{updateTime},</if>
        </trim>
        )
    </insert>
    <update id="update" parameterType="com.mengyou.zhumengyou.model.db.ProductComment">
        update `product_comment`
        <trim prefix="set" suffixOverrides=",">
            <if test="productId != null">`product_id` = #{productId},</if>
            <if test="userId != null">`user_id` = #{userId},</if>
            <if test="vc2nickname != null">`vc2nickname` = #{vc2nickname},</if>
            <if test="content != null">`content` = #{content},</if>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="updateTime != null">`update_time` = #{updateTime},</if>
        </trim>
        where `id` = #{id}
    </update>
    <select id="getBy" parameterType="com.mengyou.zhumengyou.model.db.ProductComment" resultMap="productCommentResultMap">
        select * from `product_comment`
        <trim prefix="where" prefixOverrides="AND|OR">
            <if test="productId != null">AND `product_id` = #{productId} </if>
            <if test="userId != null">AND `user_id` = #{userId} </if>
            <if test="vc2nickname != null">AND `vc2nickname` = #{vc2nickname} </if>
            <if test="content != null">AND `content` = #{content} </if>
            <if test="createTime != null">AND `create_time` = #{createTime} </if>
            <if test="updateTime != null">AND `update_time` = #{updateTime} </if>
        </trim>
    </select>
</mapper>