<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mengyou.zhumengyou.dao.TransactionMapper">

    <resultMap id="transactionResultMap" type="com.mengyou.zhumengyou.model.db.Transaction">
        <id column="id" property="id"/>
        <result column="source_id" property="sourceId" />
        <result column="type" property="type" />
        <result column="name" property="name" />
        <result column="status" property="status" />
        <result column="money" property="money" />
        <result column="time" property="time" />
        <result column="user_id" property="userId" />
        <result column="vc2nickname" property="vc2nickname" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>
    <insert id="save" parameterType="com.mengyou.zhumengyou.model.db.Transaction" useGeneratedKeys="true" keyProperty="id">
        insert into `transaction`(
        <trim suffixOverrides=",">
            <if test="sourceId != null">`source_id`,</if>
            <if test="type != null">`type`,</if>
            <if test="name != null">`name`,</if>
            <if test="status != null">`status`,</if>
            <if test="money != null">`money`,</if>
            <if test="time != null">`time`,</if>
            <if test="userId != null">`user_id`,</if>
            <if test="vc2nickname != null">`vc2nickname`,</if>
            <if test="createTime != null">`create_time`,</if>
            <if test="updateTime != null">`update_time`,</if></trim>
        )values(
        <trim suffixOverrides=",">
            <if test="sourceId != null"> #{sourceId},</if>
            <if test="type != null"> #{type},</if>
            <if test="name != null"> #{name},</if>
            <if test="status != null"> #{status},</if>
            <if test="money != null"> #{money},</if>
            <if test="time != null"> #{time},</if>
            <if test="userId != null"> #{userId},</if>
            <if test="vc2nickname != null"> #{vc2nickname},</if>
            <if test="createTime != null"> #{createTime},</if>
            <if test="updateTime != null"> #{updateTime},</if>
        </trim>
        )
    </insert>
    <update id="update" parameterType="com.mengyou.zhumengyou.model.db.Transaction">
        update `transaction`
        <trim prefix="set" suffixOverrides=",">
            <if test="sourceId != null">`source_id` = #{sourceId},</if>
            <if test="type != null">`type` = #{type},</if>
            <if test="name != null">`name` = #{name},</if>
            <if test="status != null">`status` = #{status},</if>
            <if test="money != null">`money` = #{money},</if>
            <if test="time != null">`time` = #{time},</if>
            <if test="userId != null">`user_id` = #{userId},</if>
            <if test="vc2nickname != null">`vc2nickname` = #{vc2nickname},</if>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="updateTime != null">`update_time` = #{updateTime},</if>
        </trim>
        where `id` = #{id}
    </update>
    <select id="getBy" parameterType="com.mengyou.zhumengyou.model.db.Transaction" resultMap="transactionResultMap">
        select * from `transaction`
        <trim prefix="where" prefixOverrides="AND|OR">
            <if test="sourceId != null">AND `source_id` = #{sourceId} </if>
            <if test="type != null">AND `type` = #{type} </if>
            <if test="name != null">AND `name` = #{name} </if>
            <if test="status != null">AND `status` = #{status} </if>
            <if test="money != null">AND `money` = #{money} </if>
            <if test="time != null">AND `time` = #{time} </if>
            <if test="userId != null">AND `user_id` = #{userId} </if>
            <if test="vc2nickname != null">AND `vc2nickname` = #{vc2nickname} </if>
            <if test="createTime != null">AND `create_time` = #{createTime} </if>
            <if test="updateTime != null">AND `update_time` = #{updateTime} </if>
        </trim>
    </select>
</mapper>